<div class="panel panel-default">
    <div class="panel-heading">
      <div class="col-md-6">
      <div class="row pad-left-right">
        <span class="pull-left title">Scriptures</span>
        <a class="btn btn-success pull-right" routerLink="new" style="margin-bottom: 10px; margin-top: 10px;">Add Scripture</a>
      </div>
    </div>
    <div class="col-md-6">
    <div class="panel-body">
      <div class="center-panel pull-right">
        <app-scripture-item
          *ngFor="let scripture of scriptures"
          [scripture]="scripture"></app-scripture-item>
      </div>
    </div>
  </div>
  </div>
      
  </div>